@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
:root{
    --main-color: #fd4646;
    --text-color: #171427;
    --bg-color: #fff;
}
img{
    width: 100%;
}
body{
    color: var(--text-color);
}
.container{
    max-width: 1068px;
    margin: auto;
    width: 100%;
}
.rodape{
    box-sizing: border-box;
    bottom: 0px;
    width: 100%;
    color: #fff;
    max-width: 1068px;
    margin: auto;
    width: 100%;
}
section{
    padding: 4rem 0 3rem;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--bg-color);
    box-shadow: 0 2px 4px hsl(0 4% 15% / 10%);
    z-index: 100;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}
.main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}
#card-icon{
    font-size: 1.8rem;
    cursor: pointer;
}
#card-what{
    font-size: 1.8rem;
    color: var(--text-color);
    cursor: pointer;
}
/* Shop Content */
.cart{
    position: fixed;
    top: 0;
    right: -1000%;
    width: 360px;
    min-height: 100vh;
    padding: 20px;
    background: var(--bg-color);
    box-shadow: -2px 0 4px hsl(0 4% 15% / 10%);
    transition: 0.3s;
}
.cart.active{
    right: 0;
}
.cart-title{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 2rem;
}
.cart-box{
    display: grid;
    grid-template-columns: 32% 50% 18%;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}
.cart-img{
    width: 100px;
    height: 100px;
    object-fit: contain;
    padding: 10px;
}
.detail-box{
    display: grid;
    row-gap: 0.5rem;
}
.cart-product-title{
    font-size: 1rem;
    text-transform: uppercase;
}
.cart-price{
    font-weight: 500;
}
.cart-quantity{
    border: 1px solid var(--text-color);
    outline-color:var(--main-color);
    width: 2.4rem;
    text-align: center;
    font-size: 1rem;
}
.cart-remove{
    font-size: 24px;
    color: var(--text-color);
    cursor: pointer;
}
.total{
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;
    border-top: 1px solid var(--text-color);
}
.total-title{
    font-size: 1rem;
    font-weight: 600;
}
.total-price{
    margin-left: 0.5rem;
}
.btn-buy{
    display: flex;
    margin: 1.5rem auto 0 auto;
    padding: 12px 20px;
    border: none;
    background: var(--main-color);
    color: var(--bg-color);
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}
.btn-buy:hover{
    background: var(--text-color);
}
.btn-seg{
    position: relative;
    cursor: pointer;
}
.section-title{
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 1.5rem;
}
.shop{
    margin-top: 2rem;
}
/* Shop Content */
.shop-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, auto));
    gap: 1.5rem;
}
.product-box{
    position: relative;
}
.product-box:hover{
    padding: 10px;
    border: 1px solid var(--text-color);
    transition: 0.4s;
}
.product-img{
    width: 100%;
    height: auto;
    margin-bottom: 0.5rem;
    cursor: pointer;
}
.logo-img{
    width: 7%;
    height: auto;
    margin-bottom: 0;
}
.product-title{
    font-size: 1.1rem;
    font-weight: 0;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}
.product-subtitulo{
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}
.price{
    font-weight: 500;
}
.add-cart{
    position: absolute;
    bottom: 0;
    right: 0;
    background: var(--text-color);
    color: var(--bg-color);
    padding: 10px;
    cursor: pointer;
}
.add-cart:hover{
    background: hsl(249, 32%, 17%);
}
.add-comp{
    position: absolute;
    bottom: 0;
    right: 0;
    background: var(--text-color);
    color: var(--bg-color);
    padding: 10px;
    cursor: pointer;
}
.add-comp:hover{
    background: hsl(249, 32%, 17%);
}
.whatsapp-suporte{
    color: var(--text-color);
    font-size: 30px;
    cursor: pointer;
}
.fa-whatsapp{
    margin-top: 15%;
}
.suport{
    cursor: pointer;
}

/* Categoria */
.categoria{
    text-align: center;
}
.bt_categ{
    width: 100px;
    height: 50px;
    margin-bottom: 5px;
    background-color: #0d0e0f;
    color: #fff;
    border: #e7f2f4;
    border-radius: 5px;
    cursor: pointer;
}

/* Rodape */
*,*:before,*:after{
    box-sizing: border-box;
}
body{
    font-family: poppins;
    margin: 0;
    display: grid;
    font-size: 14px;
}
footer{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-flow: row wrap;
    padding: 50px;
    color: #fff;
    background-color: #171427;
}
.footer > *{
    flex: 1 100%;
}
.footer-left{
    margin-right: 1.25em;
    margin-bottom: 2em;
}
.footer-left img{
    width: 40%;
}
h2{
    font-weight: 600;
    font-size: 17px;
}
footer ul{
    list-style: none;
    padding-left: 0%;
}
.footer li{
    line-height: 2em;
}
.footer a{
    text-decoration: none;
}
.footer-right{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-flow: row wrap;
}
.footer-right > *{
    flex: 1 50%;
    margin-right: 1.25em;
}
.box a{
    color: #999;
}
.footer-bottom{
    text-align: center;
    color: #999;
    padding-top: 50px;
}
.footer-left p{
    padding-right: 20%;
    color: #999;
}
.socials a{
    background: #171427;
    width: 40px;
    height: 40px;
    display: inline-block;
    margin-right: 10px;
}
.socials a i{
    color: #eb3333;
    padding: 10px 12px;
    font-size: 20px;
}
.direct .center{
    padding: 5px;
    font-size: 15px;
    background: #171427;
    text-align: center;
}
.direct .center span{
    color: #999;
}
.direct .center a{
    color: #fd4646;
    text-decoration: none;
}
.direct .center a:hover{
    text-decoration: underline;
}
.formul{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #0d0e0f;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-right: 1rem;
    padding-left: 1rem;
}
.formul-title,
.obrig-title{
    font-size: 3rem;
    color: #fff;
    margin-bottom: 2rem;
    text-align: center;
    line-height: 1.2;
}
.formul-title::before{
    display: block;
}
.socils{
    font-size: 3rem;
    color: #fff;
    margin-bottom: 2rem;
    text-align: center;
    line-height: 1.2;
}
.socils::before{
    content: "游깷";
    display: block;
}
.obrig-container{
    background-color: #0d0e0f;
}
.obrig-title::before{
    content: "游눛";
    display: block;
}
.form{
    width: 100%;
    max-width: 32rem;
    font-size: 1.125rem;
}
.form label, .form input, .form textarea, .form button{
    display: block;
    width: 100%;
}
.form label{
    color: #fff;
    line-height: 1;
    margin-bottom: 0.5rem;
}
.form input, .form textarea{
    font: inherit;
    padding: 0.8rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 8px;
    transition: border-color,
    box-shadow 0.2s;
}
.form textarea{
    min-height: 13rem;
    resize: vertical;
}
.form input:hover,
.form input:focus,
.form textarea:hover,
.form textarea:focus{
    outline: none;
    border-color: #171427;
    box-shadow: 0 0 0 3px #fd4646;
}
.form button{
    display: block;
    padding: 1rem;
    background: #fd4646;
    color: #fff;
    font: inherit;
    text-transform: uppercase;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
}
.form button:hover,
.form button:focus{
    outline: none;
    background: #fd4646;
}
.obrig-container button{
    display: block;
    margin: 2rem;
    padding: 1rem;
    width: 90%;
    background: #fd4646;
    color: #fff;
    font: inherit;
    text-transform: uppercase;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
/* Logo */
.navcontainer{
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: space-between;
}
.list{
    font-size: large;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #0d0e0f;
    text-decoration: none;
}
.list:hover{
    opacity: 0.7;
}
.logo{
    font-size: 13px;
    color: #0d0e0f;
    letter-spacing: 4px;
}
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #fff;
    height: 8vh;
}
.nav-list{
    list-style: none;
    display: flex;
}
.nav-list li{
    letter-spacing: 3px;
    margin-left: 32px;
}
.mobile-menu{
    display: none;
    margin-left: 60px;
    font-size: 1.5rem;
    color: #0d0e0f;
    cursor: pointer;
}
.mobile-menu div{
    width: 32px;
    height: 2px;
    background: #0d0e0f;
    margin: 8px;
    transition: 0.3s;
}
.mobile-menu.active .line1{
    transform: rotate(-45deg) translate(-8px, 8px);
}
.mobile-menu.active .line2{
    opacity: 0;
}
.mobile-menu.active .line3{
    transform: rotate(45deg) translate(-5px, -7px);
}
.categoria{
    position: center;
}
/* Responsividade */
@media (max-width: 1080px){
    .nav{
        padding: 15px;
    }
    section{
        padding: 3rem 0 2rem;
    }
    .container{
        margin: 0 auto;
        width: 90%;
    }
    .shop{
        margin-top: 2rem !important;
    }
}
@media (max-width: 600px){
    body{
        overflow-x: hidden;
    }
    .nav-list{
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background: #fff;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }
    .nav-list li{
        margin-left: 0;
        opacity: 0;
    }
    .mobile-menu{
        display: block;
    }
    .nav-list.active{
        transform: translateX(0);
    }
}
@media screen and (min-width: 600px) {
    .footer-right > *{
        flex: 1;
    }
    .footer-left{
        flex: 1 0px;
    }
    .footer-right{
        flex: 2 0px;
    }
    .direct{
        bottom: 0px;
    }
}
@media (max-width: 600px){
    .footer{
        padding: 15px;
    }
    main{
        font-size: 55px;
    }
}
@media (max-width: 400px){
    .nav{
        padding: 11px;
    }
    .cart{
        width: 320px;
    }
}
@media (max-width: 360px){
    .shop{
        margin-top: 1rem !important;
    }
    .cart{
        width: 280px;
    }
    .rodape{
        width: 280px;
    }
}
@keyframes navLinkFade{
    from{
    opacity: 0;
    transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}


/* Estilos padr칚o do carrossel */

.carousel {
    width: 100%;
    max-width: 800px; /* Defina o valor m치ximo de largura conforme necess치rio */
    margin: 0 auto;
  }
  
  .carousel img {
    width: 100%;
    height: auto;
  }
  
  /* Estilos para telas menores */
  
  @media screen and (max-width: 768px) {
    .carousel {
      max-width: 400px; /* Ajuste o tamanho m치ximo para telas menores */
    }
  }
  
  @media screen and (max-width: 480px) {
    .carousel {
      max-width: 300px; /* Ajuste o tamanho m치ximo para telas ainda menores */
    }
  }
  
  